.skills-card {
  background-color: #ffffff;

  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56),
    0 12px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  border-radius: 9px;
}

.img-logo {
  height: 5rem;
}

.skills-card h2 {
  font-size: 2.2rem;
  font-family: "Bree Serif", serif;
  border-bottom: 3px solid rgb(255, 186, 0);;
    padding-bottom: 3px;
}


