.hero {
  margin-top: -37.3%;

  background: url(./images/hero.png);

  background-size: cover;
  background-position: cover;
  background-repeat: no-repeat;

  background-attachment: fixed;
  height: 90vh;
}
