/* footer */
.footer {
  background-color: rgb(255, 186, 0);
}

/* footer ion-icon */
.footer ion-icon {
  color: #ffffff;
  padding: 3px;
  font-size: 30px;
}

/* footer pargraph */
.footer p {
  color: #ffffff;
  font-size: 1rem;
}
